html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

body {
    position: relative;
    height: 100%;
    margin: 0;
}

.nota p {
    font-size: 18px;
}

button span::before { 
    content: "  ";
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}

.w3-content {
    margin-bottom: 90px;
    max-width: 1400px;
    padding-top: 80px;
}

.w3-row {
    display: flex;
    justify-content: center;
}

#login {
    max-width: 400px;
    margin: 0 auto;
}

#login input {
    width: 100%;
}

#login form * {
    display: block;
}

#login form p a{
    display: inline;
}

#login form p{
    text-align: right;
}

#login button {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#controls input, #controls div {
    display: block;
    width: 100%;
    margin: 1em 0;
}

.invisible {
    display: none !important;
}

div[contentEditable=true]:empty:not(:focus):before {
    color: #999;
    content: attr(data-text)
}

.bold {
    font-weight: bold;
}

#perfil{
    height:106px;
    width:106px;
}

#perfil-menu{
    height:23px;
    width:23px; 
}

.nota form, .w3-dropdown-content form  {
    display: inline;
}

.w3-dropdown-content {
    min-width: 300px;
}

.w3-dropdown-content a.w3-button {
    padding: 0;
}