{% load static %}
<!DOCTYPE html>
<html>
  <title>Notas</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-w3c.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/OpenSans.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

  <body class="w3-theme-l5">

  {% block menu %}
  {% endblock menu %}

  <!-- Container da página -->
  <div class="w3-container w3-content">    
  {% block content %}
    
  {% endblock content %}
  <!-- FIM Container da página -->
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d5">
    <p>Desenvolvido por</p>
    <p>
    <a href="https://github.com/DanielPBL">Daniel Lopes</a>, <a href="https://github.com/dangon1">Daniel Gonçalves</a> e <a href="https://github.com/vitorlsilveira">Vitor Lemos</a>
    </p>
  </footer>
  
  <script src="{% static 'js/resize.js' %}"></script>
  {% block script %}
  {% endblock script %}
  </body>
</html> 
