{% extends "base.html" %}
{% load static %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock menu %}

{% block content %}
    <h2 class="w3-center">Minha Conta</h2>
    <div id="login">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button class="w3-button w3-theme">Salvar</button>
        </form>
    </div>
{% endblock content %}