{% extends "base.html" %}
{% load static %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock menu %}

{% block content %}
  <div class="w3-row">
    <!-- Card esquerdo -->
    <div class="w3-col m3">
      <!-- Perfil -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <p class="w3-center">
            {% if user.profile.img_user %}
              <img id="perfil" src="{{ user.profile.img_user.url }}" class="w3-circle" alt="Foto">
            {% else %}
              <img id="perfil" src="{% static 'imgs/default-avatar.png' %}" class="w3-circle" alt="Foto">
            {% endif %}
          </p>
         <h4 class="w3-center">{{ user.get_full_name }}</h4>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{ user.profile.job }}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ user.profile.location }}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ user.profile.birth_date }}</p>
        </div>
      </div>
    </div>
    
    <!-- Card principal notas -->
    <div id="main-container" class="w3-col m7">
      <div id="ctrs" class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div id="controls" class="w3-container w3-padding">
              {% csrf_token %}
              <input id="title" name="title" type="text" autocomplete="off" class="w3-border w3-padding invisible" placeholder="Título">
              <div contenteditable="true" id="text" class="w3-border w3-padding" data-text="Tome nota..."></div>
              <button value="Note" id="saveNote" type="button" class="w3-button w3-theme"><i class="fa fa-save"></i><span>Salvar Nota</span></button> 
              <button value="Reminder" id="saveReminder" type="button" class="w3-button w3-theme"> <i class="fa fa-bell"></i><span>Salvar Lembrete</span></button>
              <button id="saveChange" type="button" class="invisible w3-button w3-theme"><i class="fa fa-save"></i><span>Salvar</span></button> 
              <button id="cancelChange" type="button" class="invisible w3-button w3-theme"> <i class="fa fa-times"></i><span>Cancelar</span></button> 
            </div>
          </div>
        </div>
      </div>
      
      {% for note in notes %}
        {% include 'note.html' %}
      {% endfor %}
      
    <!-- FIM Card principal notas -->
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    const SAVE_AJAX_URL = '{% url 'save' %}';
  </script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock script %}