{% extends "base.html" %}
{% load static %}

{% block menu %}
{% load cache %}
{% cache 500 sidebar %}
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Notas</a>
    </div>
</div>
{% endcache %}
{% endblock menu %}

{% block content %}
    <h2 class="w3-center">Login</h2>
    <div id="login">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <p>Não tem uma conta? <a href="{% url 'signup' %}">Cadastre-se.</a></p>
            <button class="w3-button w3-theme">Logar</button>
        </form>
        
    </div>
{% endblock content %}