{% load static %}
<!-- Menu -->
<div class="w3-top" id="menu">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="#" id="openNav"><i class="fa fa-bars"></i></a>
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Notas</a>
        <div class="w3-dropdown-hover w3-hide-small" id="container-reminders">
            {% include 'reminders.html' %}
        </div>
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Sair"><i class="fa fa-sign-out"></i></a>
        <a href="{% url 'edit' user.id %}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Minha Conta">            
            {% if user.profile.img_user %}
                <img id="perfil-menu" src="{{user.profile.img_user.url}}" class="w3-circle"  alt="Foto">
            {% else %}
                <img id="perfil-menu" src="{% static 'imgs/default-avatar.png' %}" class="w3-circle" alt="Foto">
            {% endif %}
        </a>
    </div>
</div>

<!-- Menu para telas pequenas-->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'edit' user.id %}" class="w3-bar-item w3-button w3-padding-large">Minha Conta</a>
</div>

<form id="remove" method="POST" class="invisible" method="POST" action="">{% csrf_token %}</form>

<script src="{% static 'js/menu.js' %}"></script>