<article id="note-{{ note.id }}"class="nota w3-container w3-card w3-white w3-round w3-margin"><br>
    <p class="note-title bold">{{ note.title }}</p>
    <hr class="w3-clear">
    <p class="note-text">{{ note.text }}</p>
    <button value="{{ note.id }}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom edit"><i class="fa fa-pencil"></i><span>Editar</span></button>
    <form method="POST" action="{% url 'remove_note' note.id %}">
        {% csrf_token %}
        <button class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-trash"></i><span>Excluir</span></button>
    </form>
</article>
