{% if reminders|length > 0 %}
<button class="w3-button w3-padding-large" title="Lembretes"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">{{ reminders|length }}</span></button>     
<div class="w3-dropdown-content w3-card-4 w3-bar-block">
    {% for reminder in reminders %}
    <p class="w3-bar-item w3-button">
        {{ reminder.text }}
        <a href="{% url 'remove_reminder' reminder.id %}" class="w3-button w3-right remove" title="Concluído"><i class="fa fa-check"></i></a>
    </p>
    {% endfor %}
</div>
{% endif %}