{% extends "base.html" %}
{% load static %}


{% block menu %}
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Notas</a>
        </div>
    </div>
{% endblock menu %}

{% block content %}
    <h2 class="w3-center">Cadastro</h2>
    <div id="login">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button class="w3-button w3-theme">Cadastrar</button>
        </form>
    </div>
{% endblock content %}